<main>
    <div id="info">
        <strong>
            DEBAGRAM SHIBARAM ANANDAMAYEE VIDYAPITH (H.S.)
        </strong>
        <hr>
        <p>
            Debagram Shibram Anandamayee Vidyapith was set up in the year 1949, It is situated in the heart of Debagram,
            Nadia having two streams of Science and Humanities and as well as Vocational subjects from Class IX to Class
            XII.
        </p>
        <br>
        <strong>
            Designed, Developed and Maintained
            <br> by <a href="https://www.linkedin.com/in/mrsumanbiswas/" style="color: inherit; text-decoration: none;"
                rel="_"> Mr Suman Biswas</a>
        </strong>
        <hr>
        <p style="height: auto;width: auto;">
            This is an <i>OpenScorce</i> project.
            It's copyright is totaly saved on <a href="https://www.github.com/mrsumanbiswas/debagramsavidyapith"
                style="color: inherit; text-decoration: none;" rel="_">Github Ripository</a>.
            <br> To contribute it's development fork this ripository.
        </p>
        <hr>
    </div>
    <div id="social-links">
        <b>
            USEFUL LINKS
        </b>
        <hr>
        <span id="school-details">
            <a href="http://">
                Facebook Group
            </a>
            <br>
            <a href="http://github.com/mrsumanbiswas/debagramsavidyapith">
                Github Ripository
            </a>
            <br>
            <a href="tel:+91##########">
                Phone Number
            </a>
            <br>
            <a href="mailto:">
                Email Address
            </a>
        </span>
        <br>
        <br>
        <b>
            DEVELOPER DETAILS
        </b>
        <hr>
        <span id="developer-details">
            <a href="mailto:dizzytechnician@gmail.com">
                Email
            </a>
            <br>
            <a href="https://github.com/mrsumanbiswas/debagramsavidyapith">
                Github
            </a>
            <br>
            <a href="https://linkedin.com/in/mrsumanbiswas">
                Linkedin
            </a>
            <br>
            <a href="https://twitter.com/mrsumanbiswas0">
                Twitter
            </a>
            <br>
            <a href="https://www.reddit.com/user/mrsumanbiswas">
                Reddit
            </a>
        </span>
    </div>
    <div id="site-links">414</div>
</main>