div{
    text-align: center;
    img{
        border: rgba(0, 0, 0, 0.450) 5px solid;
        border-radius: 30%;
    }
    button{
        &:last-child{
            margin-left: 2rem;
        }
    }
}