// table data
.mat-table {
  margin: auto;
  width: min-content;
  background-color: whitesmoke;
}

.mat-column-i,
.mat-column-ii,
.mat-column-iii,
.mat-column-iv,
.mat-column-v {
  width: auto;
  padding: 2vw;
  text-align: center;
  border-right: 1px solid currentColor;

  &:nth-child(even) {
    background-color: white;
  }
}

// spinner
mat-spinner {
  margin: 15vh auto;
}

// border radius
ngx-slick-carousel img,
#school-map iframe,
#feedback * {
  border-radius: 0.5rem !important;
}

div ngx-slick-carousel div {
  margin: 0 0.5rem !important;
}

main {
  margin-bottom: 8vh;

  h1 {
    margin-top: 2rem;
  }
}

// card wrapper
.card-wrapper {

  h1 {
    margin: 1rem;
    width: 100vw;
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  mat-card {
    max-height: 240px;
    max-width: 240px;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
  }

}


////////
// IDs //
////////


// #image-slider {}

// #overview {}

// #notice {}

// #featured-gallery {}

// #events {}

// #school-calendar {}

// #history {}

// #campus {}

// #teachers {}

// #managing-committee {}

// #admission {}

#academics {
  h2 {
    margin-top: 3rem;
    text-align: center;
  }

  // #subject-offered {}

  // #school-timings {}

  // #rules-regulations {}

  // #alumni {}
}

#contact-us {
  .mat-card-content {
    margin: auto;
    padding: auto;
  }
}

// #school-map {}

#feedback {

  color: black;

  h1 {
    color: white;
  }

  form {
    margin-top: 1rem;
  }

  textarea {
    min-width: 10vw;
    min-height: 10vh;
  }
}