<ngx-slick-carousel [config]="slideConfig" id="background-pic">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" height="100%" width="100%">
    </div>
</ngx-slick-carousel>
<div id="overview">
    <h1>
        Overview
    </h1>
    <p>
        Debagram Shibram Anandamayee Vidyapith was set up in the year 1949, It is situated in the heart of Debagram,
        Nadia having two streams of Science and Humanities and as well as Vocational subjects from Class IX to Class XII
        under NSQF Project. The school has well equipped laboratories for Physics, Chemistry, Biology, Geography,
        Computer Science and Application as well as for Vocational Departments. Since the very beginning the dream that
        our founder dreamt of, the school nurtures the kids from the families that can hardly smell the nectar of
        education. Knowledge, by no means, is the sole domination of the rich and it should strive free amidst the
        participation of all and sundry. Debagram Shibram Anandamayee Vidyapith solemnly carols the satiety with an
        ingenuity since it has begun to anchor the girl students in 10+2 category as well. So, we have our footprints in
        a broader perspective and pledge to carry on with it.
    </p>
</div>
<div id="notice">

</div>
<div id="latest-news">

</div>
<div id="events">

</div>
<div id="featured-gallery">

</div>
<div id="school-map">

</div>