<div id="intro">
    <!-- about photos -->
    <div id="about-photos"></div>
    <!-- upload photos form -->
    <app-upload-photos id="upload-photos"></app-upload-photos>
</div>
<div id="photos">
    <!-- display photos with filter option -->
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" mat-card-image>
        <mat-card-content>
            <p>IMAGE :: hight: px; width: px;</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button>UPVOTE</button>
            <button color="primary" mat-button>DOWNVOTE</button>
        </mat-card-actions>
    </mat-card>
</div>
<button mat-icon-button id="top" (click)="top();">
    <mat-icon>arrow_upward</mat-icon>
</button>