<div id="intro">
    <!-- about photos -->
    <div id="about-photos">
        
    </div>
    <!-- upload photos form -->
    <app-upload-photos id="upload-photos"></app-upload-photos>
</div>
<div id="photos">
    <!-- display photos with filter option -->
    <mat-card>
        <mat-card-header>
            <img src="" alt="" mat-card-avatar>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img src="../../../assets/page-not-found.jpg" alt="image" mat-card-image #image>
        <mat-card-content>
            <p>IMAGE :: {{image.naturalWidth}}x{{image.naturalHeight}}</p>
            <p>VOTES</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon>thumb_up</mat-icon>
            </button>
            <p>&ZeroWidthSpace;</p>
            <button mat-icon-button>
                <mat-icon>thumb_down</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<button mat-icon-button id="top" (click)="top();">
    <mat-icon>arrow_upward</mat-icon>
</button>