#photos {
    display: flex;
    flex-wrap: wrap;

    .mat-card {
        max-width: 250px;
        margin: 1vh auto;
        display: inline-block;
    }

    .mat-card-actions {
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-flex;

        p {
            width: 100%;
        }
    }
}

#top {
    top: 90vh;
    right: 3vw;
    position: fixed;
    background-color: royalblue;
}

#intro {
    margin: auto;
    padding: 2rem;

    #about-phtotos {}

    button {
        width: 100%;
        margin: auto;
    }
}